:root {
    --bg-dark: #e7e7e7;
    --card-bg: #c7c7c7;
    --accent: #2bc5b4; /* JioSaavn-ish Green/Cyan */
    --text-primary: #888888;
    --text-secondary: #747474;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-primary);
    font-family: 'Roboto', sans-serif;
}

.brand-title {
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--accent);
}

.glass-card {
    background-color: var(--card-bg);
    border: 1px solid #22a092;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.text-accent {
    color: var(--accent);
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Custom Inputs */
.custom-input {
    background-color: #acacac;
    border: 1px solid #22a092;
    color: rgb(0, 0, 0);
    padding: 12px;
}

.custom-input:focus {
    background-color: #a7a7a7;
    border-color: var(--accent);
    color: rgb(0, 0, 0);
    box-shadow: none;
}

.custom-input:hover {
    background-color: #a7a7a7;
    border-color: var(--accent);
    color: white;
    box-shadow: none;
}

/* Custom Button */
.custom-btn {
    background-color: var(--accent);
    border: none;
    color: #000;
    font-weight: bold;
    padding: 12px;
    transition: all 0.3s;
}

.custom-btn:hover {
    background-color: #22a092;
    transform: translateY(-2px);
}

/* Table Styling */
.custom-table {
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--card-bg);
}

.custom-table thead {
    background-color: #333;
    color: var(--accent);
}

.custom-table td, .custom-table th {
    vertical-align: middle;
    padding: 15px;
    border-bottom: 1px solid #333;
}

/* Grid Color Coding */
.row-even {
    background-color: #1c1c1c;
}
.row-odd {
    background-color: #252525;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #000000; 
}
::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 4px;
}